modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0", "javascript_log_in_with_replit:2.0.0", "javascript_object_storage:2.0.0"]

[nix]
channel = "stable-25_05"

[workflows]

[[ports]]
localPort = 3001
externalPort = 3001
exposeLocalhost = true

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3002

[[ports]]
localPort = 5002
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 120000
